.sectionHeader{
    font-size: 4rem;
    line-height: 5rem;
    font-weight: $bold;

    &.spanModifierGreen{
        span{
            color: $color-secondary;
        }
    }
}

.sectionPara{
    font-size: 2rem;
    line-height: 3rem;
    // padding: 0px 200px 0px 50px;
}