.eventName{
    color: $color-black;
    

    // padding-bottom: 150px !important;
    background-color: #363636 !important;

    .container {
        margin-top: -300px !important;
    }

    &__image{
            height: 230px;
            border-radius: 5px;
            background-color: #fff;
            position: relative;
            overflow: hidden;
            transition: .3s all ease-in-out;
            box-shadow: 0px 15px 45px -9px rgba(0,0,0,.2);
            overflow: hidden;
            position: relative;
            padding: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            img{
                width: 260px;
            }
        &:hover{
            box-shadow: 0 1px 1px 1px rgba(0,0,0,.06);
        }
        }
}

.brand-title{
    padding-top: 100px !important;
    padding-bottom: 270px !important;
    background-color: $color-primary !important;
}

.brand-title{
    h2{
        color: #000 !important;
    }
}