.ourPartners{
    &__images{
        img{
            align-self: center;
            padding: 21px;
            width: 16%;
            margin-bottom: 10px;
        }
    }
}

/*  Counter Section  */

    .count {
         color: #fff;
        text-align: center;
        h4 {
            color: #fff;
            margin-top: 0;
        }
        .fa {
            font-size: 4rem;
            display: block;
            color: #fff;
        }
    }
    .number {
        font-size: 6rem;
        font-weight: 700;
        margin: 0;
        line-height: 7rem;
    }

.bigSectionHeader{
    font-size: 5rem;
    line-height: 7rem;
    // padding: 5rem 20rem;
    text-transform: uppercase;
    color: $color-primary;
    font-weight: $bold;
    &.spanModifierGreen{
        span{
            color: $color-secondary;
        }
    }
}

.underline{
    border-bottom: solid 1px #fff;
}

.counter{
    background-image: url('../images/stats-parallax.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.mx-w75{
    max-width: 75%;
}
.color-black{
    color: $color-black;
  }