.pd-sm-m{
    @include media-breakpoint-down(sm) {
        padding: 0 !important;
        padding-left: 1.5rem !important;
      }
}

.brand-title{
    .bigSectionHeader{
        @include media-breakpoint-down(sm) {
            font-size: 3rem;
            line-height: 4rem;
            margin-bottom: 2.8rem;
            margin-top: 1.2rem;
          }
    }

.what-we-do{
    @include media-breakpoint-down(sm) {
        padding: 0 15px;
      }
      .sectionHeader{
        @include media-breakpoint-down(sm) {
            font-size: 1.6rem !important;
            line-height: 2rem !important;
          }
      }
    .col{
        @include media-breakpoint-down(sm) {
            padding: 5px;
            margin-bottom: 20px;
          }
    }
}
}
.eventName{
    &__image{
        @include media-breakpoint-down(sm) {
            height: 120px;
            padding: 20px 5.5% 20px 5.5%;
            margin-bottom: 1rem;
          }
    }
    .bigSectionHeader{
        @include media-breakpoint-down(sm) {
            font-size: 3rem;
            line-height: 4rem;
          }
    }
    .pb-5{
        @include media-breakpoint-down(sm) {
            padding-bottom: 15px !important;
          }
    }
}
.number{
    @include media-breakpoint-down(sm) {
        font-size: 4rem;
      }
}
.ourPartners{
    &.pb-5{
        @include media-breakpoint-down(sm) {
            padding-bottom: 2rem !important;
        }
    }
    .bigSectionHeader{
        @include media-breakpoint-down(sm) {
            font-size: 3rem;
            line-height: 4rem;
            max-width: 100%;
            margin-bottom: 40px !important;
          }
    }
    .mt-7{
        @include media-breakpoint-down(sm) {
            margin-top:3rem !important;
          }
    }
}

.event-imges{
    .bigSectionHeader{
        @include media-breakpoint-down(sm) {
            font-size: 3rem;
            line-height: 4rem;
            padding-left: 15px;

        }
    }
    .pb-8{
        @include media-breakpoint-down(sm) {
            padding-bottom: 3rem !important;
        }
    }
}

.footer{
    @include media-breakpoint-down(sm) {
        padding: 5rem 1.5rem;
    }
    &__group{
        @include media-breakpoint-down(sm) {
            margin-bottom: 3.5rem;
            padding-bottom: 2.5rem;
            border-bottom: solid 1px #fff;
        }
        h3{
            @include media-breakpoint-down(sm) {
                font-size: 2.8rem;
                line-height: 3.2rem;
                margin-bottom: 2.2rem;
            }
        }
        &:last-child{
            @include media-breakpoint-down(sm) {
                margin-bottom: 0rem;
                padding-bottom: 0rem;
                border: none;
             }
        }
    }
    &__projects{
        img{
            @include media-breakpoint-down(sm) {
                max-width: 140px;
                margin-bottom: 20px;
             }
        }
    }
}

.navbar-toggler {
    @include media-breakpoint-down(sm) {
        margin-right: 15px;
        border: none;
     }
     &-icon{
        @include media-breakpoint-down(sm) {
           font-size: 2rem;
         }
     }
}
ul.navbar-nav {
    @include media-breakpoint-down(sm) {
        padding: 10px 20px;
     }
     li{
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
        a{
            @include media-breakpoint-down(sm) {
                font-size: 16px;
    line-height: 20px;
            }
        }
     }
}