.sectionHeadeBanner {
	&__wrapper {
		height: 50vh;
		position: relative;
		overflow: hidden;
		img {
			height: 50vh;
			width: 100%;
			object-fit: cover;
		}
		&:before {
			content: "";
			background: $color-primary;
			width: 50%;
			position: absolute;
			left: -120px;
			top: -140px;
			height: 800px;
			transform: rotate(-24deg);
		}
		&:after {
			content: "";
			background: $color-primary;
			width: 100%;
			position: absolute;
			left: 0px;
			top: 0px;
			height: 100%;
			opacity: 0.3;
		}
	}
	&__header {
		font-size: 6.5rem;
		line-height: 7rem;
		font-weight: $bold;
		position: absolute;
		top: 40%;
		left: 10%;
		width: 40%;
		color: $color-black;
		z-index: 1;
	}
}
