.ourServices {
	&__wrapper {
		background-color: #738dfc1c;
		padding: 30px;
		border-radius: 8px 8px 8px 8px;
		transition: 0.5s all ease;
		h3 {
			font-size: 22px;
			line-height: 28px;
			margin: 10px 0px;
		}
		p {
			padding: 0 40px;
			text-align: center;
		}

		&:hover {
			cursor: pointer;
			background-color: #ffffff00;
			box-shadow: 0px 20px 34px 0px rgba(0, 0, 0, 0.1);
		}
	}
}

.ourEvents {
	&__image {
		padding: 0;
		position: relative;
		border-radius: 0px 400px 400px 0px;
		background-image: url("../images/brands/pharmig.jpg");
		height: 350px;
		background-size: contain;
	}
	&__bg {
		border-radius: 0px 400px 400px 0px;
	}
	&__hero {
		position: relative;
		max-width: 250px;
		top: 50%;
		left: 80%;
		border: 5px solid $color-secondary;
		transform: translate(-50%, -50%);
	}
	h2 {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 3rem;
	}
	p {
		font-size: 2rem;
		line-height: 3rem;
	}

	&__slick {
		img {
			padding: 5px 5px;
			border-radius: 5px;
			border: solid 2px $color-secondary;
			margin: 0 5px;
		}
	}
	.right__side {
		.ourEvents__image {
			border-radius: 400px 0px 0px 400px;
		}
		.ourEvents__hero {
			top: 50%;
			right: 0;
			left: 70px;
		}
	}
}

.customAccordian {
	padding-right: 50px;
	.accordion-header {
		button {
			font-size: 1.8rem;
		}
	}
}
.accordion-button:not(.collapsed) {
	background-color: $color-secondary;
	color: $color-white;
}

.accordion-button:focus {
	border-color: $color-secondary;
}

.accordion-body {
	font-size: 16px;
	line-height: 30px;
	padding: 20px 10px;
}
