// COLORS
$color-primary: #FFBC00;
$color-primary-lite: #ffbc00a8;
$color-secondary: #164C04;

$color-white: #fff;
$color-black: #333333;

$bg-grey: #EFEEE5;

$bold: 700;



// FONT
$default-font-size: 1.6rem;

//     $custom-spacers: (
//         6: $spacer * 4,      //64px
//         7: $spacer * 5,      //80px
//         8: $spacer * 6.25,   //100px
//         9: $spacer * 7.5,    //120px
//         10: $spacer * 9.375  //150px
//     );

// $spacers: map-merge($spacers, $custom-spacers);


$spacer: 1rem;
$spacers:(
    0:0
);
@for $i from 1 through 20{
    $spacers: map-merge($spacers, ($i:($i*$spacer)) );
}