.bg-grey{
    background-color: $bg-grey;
    position: relative;
    &:before{
        content: '';
        background-repeat: no-repeat;
        background-image: url(../images/bg-grad.png);
        background-size: contain;
        position: absolute;
        width: 100%;
        height: 258px;
        top: 30%;
    }
}

.section-bg-gradient{
  z-index: 1;
}